icefall.egg-info/
data
__pycache__
path.sh
exp
exp*/
*.pt
download
dask-worker-space
log
*.bak
*-bak
*bak.py
tensorboard
.ipynb_checkpoints
fast_beam_search
delete_it*

# Ignore script
train.sh
train_adamp.sh
train_korean_adamw.sh
test_old.sh
test_big.sh
test_ipa3.sh
test.sh

# Ignore c++ build files
build
*.so

# Ignore discarded files & experiments
iir_so.py
iir_cuda_so.cu
contextnet
convrnnt
coslr
mobilenet

# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# ignore .nfs

.nfs*

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

*.param
*.bin
.DS_Store
*.fst
*.arpa
